.sidebar{
    flex: 1;
    height: calc(120vh - 50px);
    background-color: brown;
    position: sticky;
    top:50px;
    font-weight: 200;
}
.sidebarWrapper{
    padding: 20px;
    color: white;
}
.sidebarMenu {
    margin-bottom: 10px;
}
.sidebarTitle{
    font-size: 13px;
    color: rgb(220, 233, 241);
}
.sidebarList{
    list-style:none;
    padding: 5px;
}
.sitebarListItem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.sitebarListItem.active, .sitebarListItem:hover{
    background-color:rgb(131, 17, 17) ;
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 20px in !important;
}