.userList{
    flex: 4;
}
.button-user{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

}

.userListEdit{
    border: none;
    width: 60px;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: brown;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}
.userListDelete{
    font-size: 40px;
    color: rgb(131, 16, 16);
    cursor: pointer;
}